<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑问卷</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style>
        .question{background-color: #ebebeb;}
        .hide{
            display: none;
        }
        ol {
            padding: 0;
            list-style: none;
            counter-reset: sectioncounter
        }

        ol > li:before {
            content: '问题' counter(sectioncounter) ':';
            counter-increment: sectioncounter;
            font-size: 18px;
            color: #d4d4d4;
        }

        ol > li:nth-of-type(odd) {
            background-color: #f9f9f9;
        }


    </style>
</head>
<body>
<h2>编辑问卷表题目</h2>
<div class="container">
     <div >
     <p> <button class="btn btn-primary add_question">添加</button> <button class="btn btn-success">保存</button></p>
        <ol id="questions">
            {% for dict in data %}
            <li class="question">
            <span class="glyphicon glyphicon-remove pull-right del_question"></span>
            <div class="row">
               <div class="col-md-1 col-md-offset-1">
                <p>问题：</p>
            </div>
            <div class="col-md-7">
                <p qid="{{ dict.qid }}">{{ dict.form.caption }}</p>
            </div>

            </div>
            <div class="row">
               <div class="col-md-1 col-md-offset-1">
                <p>类型：</p>
            </div>
            <div class="col-md-8">
                {{ dict.form.type }} <span class="glyphicon glyphicon-plus {{ dict.class }} add_option" style="color:blue;">添加选项</span>
                <div class="{{ dict.class }}">
                   {% for option in dict.options %}
                    <p option_id="{{ option.option_id }}">内容：{{ option.form.name }}分值：{{ option.form.score }}
                       <span class="glyphicon glyphicon-remove del_option"></span></p>

                    {% endfor %}
                </div>


            </div>


            </div>
            </li>
            {% endfor %}
            
            
        </ol>
    </div>






</div>


<script src="/static/jquery-3.2.1.min.js"></script>
<script>
    //添加问题事件
    $(document).on('click',".add_question",function () {
       s='<li class="question"> <span class="glyphicon glyphicon-remove pull-right del_question"></span> <div class="row"> <div class="col-md-1 col-md-offset-1"> <p>问题：</p> </div> <div class="col-md-7"> <p qid="None"><textarea name="caption" cols="80" rows="2" class="form-control" maxlength="64" required="" id="id_caption"></textarea></p> </div> </div> <div class="row"> <div class="col-md-1 col-md-offset-1"> <p>类型：</p> </div><div class="col-md-8"> <select name="type" class="select_type" required="" id="id_type"> <option value="" selected="">---------</option> <option value="1">打分(1~10)</option> <option value="2">单选</option> <option value="3">评价</option> </select> <span class="glyphicon glyphicon-plus hide add_option" style="color:blue;">添加选项</span> <div class="hide"> </div> </div> </div> </li>'
        $("#questions").append(s)
    });

   //select选项改变时的事件
    $(document).on('change','.select_type',function () {

        if ($(this).val()==2){
            $(this).next().removeClass("hide");
            $(this).parent().children().last().removeClass("hide");
        }
        else {
           $(this).parent().children().last().addClass("hide");
           $(this).next().addClass("hide")
        }
    });

    //删除问题事件
    $(document).on('click','.del_question',function () {
       $(this).parent().remove()
    });


    //添加选项的事件
    $(document).on('click','.add_option',function () {
      s='<p option_id=None>内容：<input type="text">分值：<input type="number"><span class="del_option glyphicon glyphicon-remove"></span></p>'
          $(this).parent().children().last().append(s)

    });


    //删除选项事件
    $(document).on('click',".del_option",function () {
        $(this).parent().remove()
    })



</script>


</body>
</html>